/*
This *.css allows you to drag a note into the riht or left pane and overwrite the default note icon with a custom icon
ORIGINAL INSTRUCTIONS: https://forum.obsidian.md/t/sidebars-icons-file/46684/4
USE THIS SITE TO PICK NEW ICON: https://remixicon.com/
Select Icon > Change Size to 18 > Change Colour (Dont use black) > Click Arrow on Copy SVG button > DataURL > Copy

In the section below you need to update "Map" to match the name of your Note. 
*="Map" will find any note that contains "Map" in the name.
^="Map" will find any note that is titled "Map" exactly. 
*/
.workspace-tab-header[aria-label*="Map"]
> .workspace-tab-header-inner
> .workspace-tab-header-inner-icon
> .svg-icon.lucide-file{
    display: none;
}
/*
In the section below you need to update "Map" to match the name of your Note. 
*="Map" will find any note that contains "Map" in the name.
^="Map" will find any note that is titled "Map" exactly. 
*/
.workspace-tab-header[aria-label*="Map"]
> .workspace-tab-header-inner
> .workspace-tab-header-inner-icon{
/*
This is the section that needs to be replaced when you want to change the icon 
REPLACE BELOW ME WITH NEW ICON DataURL text
*/
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='18' height='18'%3E%3Cpath d='M14.9352 7.20369L8.93524 4.20369L4 6.31879V18.9669L9.06476 16.7963L15.0648 19.7963L20 17.6812V5.03308L14.9352 7.20369ZM2 5L9 2L15 5L21.303 2.2987C21.5569 2.18992 21.8508 2.30749 21.9596 2.56131C21.9862 2.62355 22 2.69056 22 2.75827V19L15 22L9 19L2.69696 21.7013C2.44314 21.8101 2.14921 21.6925 2.04043 21.4387C2.01375 21.3765 2 21.3094 2 21.2417V5ZM6 11H8V13H6V11ZM10 11H12V13H10V11ZM15.9981 10.9374L17.2355 9.7L18.2962 10.7607L17.0588 11.9981L18.2962 13.2355L17.2355 14.2962L15.9981 13.0588L14.7607 14.2962L13.7 13.2355L14.9374 11.9981L13.7 10.7607L14.7607 9.7L15.9981 10.9374Z' fill='rgba(193,67,67,1)'%3E%3C/path%3E%3C/svg%3E");
/* REPLCE ABOVE ME WITH NEW ICON DataURL text */
background-size: 18px 18px; /* adopt this to your file tree font height */
    transform: translate(0px, 5px); /* to position the icon */
    background-repeat: unset;
    display: flex;
    height: 18px;
    width: 18px;
    margin: -10px 0px 0 0;
}
/* 
If you want to set icons for multiple files you can simply copy the *.css again and make the neccessary changes
*/
.workspace-tab-header[aria-label^="Create New Notes"]
> .workspace-tab-header-inner
> .workspace-tab-header-inner-icon
> .svg-icon.lucide-file{
    display: none;
}

.workspace-tab-header[aria-label*="Create New Notes"]
> .workspace-tab-header-inner
> .workspace-tab-header-inner-icon{
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14 14.252V22H4C4 17.5817 7.58172 14 12 14C12.6906 14 13.3608 14.0875 14 14.252ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM18.5858 17L16.7574 15.1716L18.1716 13.7574L22.4142 18L18.1716 22.2426L16.7574 20.8284L18.5858 19H15V17H18.5858Z' fill='rgba(193,67,67,1)'%3E%3C/path%3E%3C/svg%3E");background-size: 18px 18px; /* adopt this to your file tree font height */
    transform: translate(0px, 5px); /* to position the icon */
    background-repeat: unset;
    display: flex;
    height: 18px;
    width: 18px;
    margin: -10px 0px 0 0;
}
/*
End of the *.css
*/
.workspace-tab-header[aria-label^="DM Board"]
> .workspace-tab-header-inner
> .workspace-tab-header-inner-icon
> .svg-icon.lucide-file{
    display: none;
}

.workspace-tab-header[aria-label*="DM Board"]
> .workspace-tab-header-inner
> .workspace-tab-header-inner-icon{
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 11C14.7614 11 17 13.2386 17 16V22H15V16C15 14.4023 13.7511 13.0963 12.1763 13.0051L12 13C10.4023 13 9.09634 14.2489 9.00509 15.8237L9 16V22H7V16C7 13.2386 9.23858 11 12 11ZM5.5 14C5.77885 14 6.05009 14.0326 6.3101 14.0942C6.14202 14.594 6.03873 15.122 6.00896 15.6693L6 16L6.0007 16.0856C5.88757 16.0456 5.76821 16.0187 5.64446 16.0069L5.5 16C4.7203 16 4.07955 16.5949 4.00687 17.3555L4 17.5V22H2V17.5C2 15.567 3.567 14 5.5 14ZM18.5 14C20.433 14 22 15.567 22 17.5V22H20V17.5C20 16.7203 19.4051 16.0796 18.6445 16.0069L18.5 16C18.3248 16 18.1566 16.03 18.0003 16.0852L18 16C18 15.3343 17.8916 14.694 17.6915 14.0956C17.9499 14.0326 18.2211 14 18.5 14ZM5.5 8C6.88071 8 8 9.11929 8 10.5C8 11.8807 6.88071 13 5.5 13C4.11929 13 3 11.8807 3 10.5C3 9.11929 4.11929 8 5.5 8ZM18.5 8C19.8807 8 21 9.11929 21 10.5C21 11.8807 19.8807 13 18.5 13C17.1193 13 16 11.8807 16 10.5C16 9.11929 17.1193 8 18.5 8ZM5.5 10C5.22386 10 5 10.2239 5 10.5C5 10.7761 5.22386 11 5.5 11C5.77614 11 6 10.7761 6 10.5C6 10.2239 5.77614 10 5.5 10ZM18.5 10C18.2239 10 18 10.2239 18 10.5C18 10.7761 18.2239 11 18.5 11C18.7761 11 19 10.7761 19 10.5C19 10.2239 18.7761 10 18.5 10ZM12 2C14.2091 2 16 3.79086 16 6C16 8.20914 14.2091 10 12 10C9.79086 10 8 8.20914 8 6C8 3.79086 9.79086 2 12 2ZM12 4C10.8954 4 10 4.89543 10 6C10 7.10457 10.8954 8 12 8C13.1046 8 14 7.10457 14 6C14 4.89543 13.1046 4 12 4Z'%3E%3C/path%3E%3C/svg%3E");
/* REPLCE ABOVE ME WITH NEW ICON DataURL text */
background-size: 18px 18px; /* adopt this to your file tree font height */
    transform: translate(0px, 5px); /* to position the icon */
    background-repeat: unset;
    display: flex;
    height: 18px;
    width: 18px;
    margin: -10px 0px 0 0;
}
.workspace-tab-header[aria-label^="DM-SideScreen"]
> .workspace-tab-header-inner
> .workspace-tab-header-inner-icon
> .svg-icon.lucide-file{
    display: none;
}

.workspace-tab-header[aria-label*="SideScreen"]
> .workspace-tab-header-inner
> .workspace-tab-header-inner-icon{
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20 22H6.5C4.567 22 3 20.433 3 18.5V5C3 3.34315 4.34315 2 6 2H20C20.5523 2 21 2.44772 21 3V21C21 21.5523 20.5523 22 20 22ZM19 20V17H6.5C5.67157 17 5 17.6716 5 18.5C5 19.3284 5.67157 20 6.5 20H19ZM10 4V12L13.5 10L17 12V4H10Z'%3E%3C/path%3E%3C/svg%3E");
/* REPLCE ABOVE ME WITH NEW ICON DataURL text */
background-size: 18px 18px; /* adopt this to your file tree font height */
    transform: translate(0px, 5px); /* to position the icon */
    background-repeat: unset;
    display: flex;
    height: 18px;
    width: 18px;
    margin: -10px 0px 0 0;